body {


}


.form-a{
    padding-top: 5%;
    margin: auto;
    heigth:2000px;
    width: 450px;


}
.form-text .form-control{
    height: 250px;
    width: 275px;


}

.form-title .form-control{

    height: 25px;
    width: 275px;

}

.form-category .form-control{


    height: 25px;
    width: 275px;
}