
.card1{
    margin-top: 20px;
    border-style: groove;
    border-radius: 5px;
    height: 415px;
    width: 86%;
    box-shadow: 5px 5px 2px #888888;
    font-family: Impact, Charcoal, sans-serif;

}
.gumb {
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin:0;
}
.flash {
    margin-top: 40px;
}