<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <% @posts.each do |p| %>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">

                <%= link_to p.title, posts_show_path(p.id) %>
              </h2>
              <h3 class="post-subtitle">
                <%= p.category.name %>

              </h3>
            </a>
            <p class="post-meta">Posted by <a href="#"><%= p.user.name %> </a><%= p.created_at %></p>
          </div>
          <hr>

      <%end%>
      <!-- Pager -->

    </div>
  </div>
</div>